body{
  font-family: Arial;
  background-image: url(background.jpg);
  background-size: cover;
  color: white;
}

*{
  box-sizing: border-box;
  margin: 0;
}

.contenitor{
  margin: auto;
  margin-top: 40px;
  width: 900px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.page{
  width: 800px;
  margin: auto;
}

header{
  text-align: center;
  position: relative;
  top: 15px;
}

header > img{
  width: 200px;
  height: 90px;
}

header > div{
  color: #00FF00;
  font-size: 170%;
  font-style: normal;
}

nav{
  background-color: #00FF00;
  padding: 10px;
  text-align:center;
  margin-top: 5px;
}

.blocco1, .blocco2, .blocco3{
  margin-top: 15px;
  line-height: 1.3;
}

.carattere_speciale:before{
  content: ' \21A6';
}

.textsmall{
  font-size: 80%;
}

.stato_carica{
  background-color: orange;
  width: 230px;
  height: 20px;
  border-radius: 5px;
}

.blocco2 > div{
  background-color: green;
  width: 300px;
}

.blocco3 > div{
  background-color: red;
  width: 100px;
}
